*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(135deg, #4329db, #4e085f);
}

.todo{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo h2{
    color: #04327d;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo h2 img{
    width: 40px;
    margin-left: 10px ;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dddfe5;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 15px;
}

button{
    border: none;
    outline: none;
    background: #4329db;
   padding: 16px 50px;
   color: white ;
   font-size: 16px;
   cursor: pointer;
   border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.jpeg);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555; 
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.jpeg);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555; 
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background:#dddfe5 ;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #4329db;
    padding: 20px;
    border: 1px solid #4329db;
    border-radius: 5px;
    display: none;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

#popup button {
    background-color: #1342cd;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

#popup button:hover {
    background-color: #4049ac;
}